@use "../.././styles/_partials/breakpoints" as *;
@use "../../styles/_partials/fonts" as *;
@use "../../styles/_partials/mixins" as *;
@use "../../styles/_partials/resets" as *;
@use "../../styles/_partials/variables" as *;

.foodease {
  position: absolute;
  top: 70%;
  width: 100%;
  display: flex;
  align-items: center;

  &__title {
    color: rgb(201, 132, 4);
    font-size: 20rem;
    margin: auto;
    
    
  }
}


.container {
  position: relative;
  width: 40rem;
  margin: 100px auto 0 auto;
  perspective: 1000px;
}

.carousel {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  animation: rotate360 60s infinite forwards linear;
}
.carousel__face {
  position: absolute;
  width: 450px;
  height: 187px;
  top: 20px;
  left: 10px;
  right: 10px;
  background-size: cover;
  box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.5);
  display: flex;
}

span {
  margin: auto;
  font-size: 2rem;
  color: white;
}

.carousel__face:nth-child(1) {
  background-image: url("../../assets/images/Foodeaselogo-desktop.gif");
  transform: rotateY(0deg) translateZ(650px);
}
.carousel__face:nth-child(2) {
  background-image: url("../../assets/images/homepage.jpeg");
  transform: rotateY(40deg) translateZ(650px);
}
.carousel__face:nth-child(3) {
  background-image: url("../../assets/images/foodpic.jpeg");
  transform: rotateY(80deg) translateZ(650px);
}
.carousel__face:nth-child(4) {
  background-image: url("../../assets/images/famoftwo.jpeg");
  transform: rotateY(120deg) translateZ(650px);
}
.carousel__face:nth-child(5) {
  background-image: url("../../assets/images/7000++.jpeg");
  transform: rotateY(160deg) translateZ(650px);
}
.carousel__face:nth-child(6) {
  background-image: url("../../assets/images/type1.jpeg");
  transform: rotateY(200deg) translateZ(650px);
}
.carousel__face:nth-child(7) {
  background-image: url("../../assets/images/type3.jpeg");
  transform: rotateY(240deg) translateZ(650px);
}
.carousel__face:nth-child(8) {
  background-image: url("../../assets/images/shoppinglist.jpeg");
  transform: rotateY(280deg) translateZ(650px);
}
.carousel__face:nth-child(9) {
  background-image: url("https://images.pexels.com/photos/1175135/pexels-photo-1175135.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  transform: rotateY(320deg) translateZ(650px);
}

@keyframes rotate360 {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(-360deg);
  }
}
