@use "./fonts" as *;
@use "./mixins" as *;
@use "./variables" as *;
@use "./breakpoints" as *;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Exo 2";
}

html {
  font-size: 62.5%;
  // background: url("../../assets/images/Foodeaselogo-desktop.gif") no-repeat center
  //   center fixed;
  // -webkit-background-size: cover;
  // -moz-background-size: cover;
  // -o-background-size: cover;
  // background-size: cover;
  // position: relative;
}

body {
  font-size: 1.6rem;
  font-family: "Exo 2";
}

//remove underline on anchor tags
a {
  text-decoration: none;
}
//remove bullet points from lists
ul {
  list-style-type: none;
  display: flex;
}
