@use "../.././styles/_partials/breakpoints" as *;
@use "../../styles/_partials/fonts" as *;
@use "../../styles/_partials/mixins" as *;
@use "../../styles/_partials/resets" as *;
@use "../../styles/_partials/variables" as *;

.food {
    background-color: black;

    &__image {
        width: 15rem;
        height: 15rem;
        
    }
}
  
        
