@use "../.././styles/_partials/breakpoints" as *;
@use "../../styles/_partials/fonts" as *;
@use "../../styles/_partials/mixins" as *;
@use "../../styles/_partials/resets" as *;
@use "../../styles/_partials/variables" as *;

.homepage {
  &__image {
    position: absolute;
    width: 100%;
    height: 100%;
    
  }

  &__text {
    color: white;
    position: absolute;
    right: 45.5%;
    bottom: 8.5%;
  }
}
