@use "../../styles/_partials/breakpoints" as *;
@use "../../styles/_partials/fonts" as *;
@use "../../styles/_partials/mixins" as *;
@use "../../styles/_partials/resets" as *;
@use "../../styles/_partials/variables" as *;

.recipespage {
 background-color: white;
  height: 100vh;
  padding: 5rem;

  &__container {
    
  }

  &__wrap {
    padding-bottom: 2rem;
    display: flex;
    flex-direction: column;
    
  }

  &__title {
    padding-bottom: 2rem;
    font-size: 5rem;
    line-height: 5.8rem;
    font-weight: 600;
    color: #2a2828;
  }

  &__heading {
    padding-bottom: 1rem;
    color: rgb(53, 49, 49);
    font-size: 2rem;
    line-height: 2.8rem;
    font-weight: 400;
    font-weight: 600;
    font-style: italic;
  }

 &__heading-div {
  margin-left: 2rem;
 }

 
}
