@use "../../styles/_partials/breakpoints" as *;
@use "../../styles/_partials/fonts" as *;
@use "../../styles/_partials/mixins" as *;
@use "../../styles/_partials/resets" as *;
@use "../../styles/_partials/variables" as *;

.recipespage {
  // background: url("../../assets/images/getrecipesPage.jpeg") no-repeat center center
  //   fixed;
  background-size: cover;
  height: 100vh;
  padding: 5rem;

  &__container {
    
  }

  &__wrap {
    padding-bottom: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    padding-bottom: 2rem;

    font-size: 3rem;
    line-height: 3.8rem;
    font-weight: 700;
    text-shadow: 2px 1px 28px rgba(229, 25, 25, 0.71);
  }

  &__heading, &__description {
    padding-bottom: 1rem;
    color: rgb(79, 75, 75);
    font-size: 2rem;
    line-height: 2.8rem;
    font-weight: 400;
  }

 
}
