@use "../../styles/_partials/breakpoints" as *;
@use "../../styles/_partials/fonts" as *;
@use "../../styles/_partials/mixins" as *;
@use "../../styles/_partials/resets" as *;
@use "../../styles/_partials/variables" as *;

$black: #1d1f20;
$blue: #83e4e2;
$green: #a2ed56;
$yellow: #fddc32;
$white: #fafafa;

%boxshadow {
  box-shadow: 0.25rem 0.25rem 0.6rem rgba(0, 0, 0, 0.05),
    0 0.5rem 1.125rem rgba(75, 0, 0, 0.05);
}

.recipeDetails {
  height: 100vh;
  padding: 5rem;
  background-color: rgb(208, 193, 172);
  width: 100%;

  &__container {
    display: flex;
    justify-content: space-between;
    border: 2px solid white;
    border-radius: 7%;
    background-color: white;
    height: 100%;
    margin: auto;
    
  }

  &__image{
background-image: url("../../assets/images/sushi.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    border-radius: 5%;
    padding: 3rem;
  }

  &__wrapOne {
    padding: 5rem;
    height: 100%;
   
    
  }

  &__wrapTwo {
    overflow: auto;
    height: 78vh;
    margin: 5.5rem;
    width: 60%;
  }

  &__name {
    font-size: 3.8rem;
    margin-bottom: 3rem;
  }

  &__others {
    font-size: 2.8rem;
    font-weight: 700;
    margin-top: 2rem;
    color: #566801;
    text-align: right;
  }

 

  &__title {
    padding: 2rem;
    top: 5%;
    width: 75%;
    text-align: right;
  }

  &__instructions {
    &-header {
      margin-top: 2.8rem;
    }

    &-body {
      counter-reset: gradient-counter;
      list-style: none;
      margin: 1.75rem 0;
      padding-left: 1rem;
      > li {
        background: white;
        border-radius: 0 0.5rem 0.5rem 0.5rem;
        @extend %boxshadow;
        counter-increment: gradient-counter;
        margin-top: 1rem;
        min-height: 3rem;
        padding-left: 4.6rem;
        position: relative;
        &::before,
        &::after {
          background: linear-gradient(135deg, $blue 0%, $green 100%);
          border-radius: 1rem 1rem 0 1rem;
          content: "";
          height: 4rem;
          left: -1rem;
          overflow: hidden;
          position: absolute;
          top: -1rem;
          width: 4rem;
        }
        &::before {
          align-items: flex-end;
          @extend %boxshadow;
          content: counter(gradient-counter);
          color: $black;
          display: flex;
          font: 900 1.5em/1 "Montserrat";
          justify-content: flex-end;
          padding: 0.125em 0.25em;
          z-index: 1;
        }
        @for $i from 1 through 5 {
          &:nth-child(10n + #{$i}):before {
            background: linear-gradient(
              135deg,
              rgba($green, $i * 0.2) 0%,
              rgba($yellow, $i * 0.2) 100%
            );
          }
        }
        @for $i from 6 through 10 {
          &:nth-child(10n + #{$i}):before {
            background: linear-gradient(
              135deg,
              rgba($green, 1 - (($i - 5) * 0.2)) 0%,
              rgba($yellow, 1 - (($i - 5) * 0.2)) 100%
            );
          }
        }
        + li {
          margin-top: 2rem;
        }
      }
    }

    &-list {
      line-height: 3.5rem;
      font-size: 2rem;
      font-style: italic;
    }
  }

  &__ingredients-heading,
  &__instructions-header {
    font-size: 2.8rem;
    line-height: 4rem;
    font-weight: 500;
    padding-bottom: 1rem;
  }

  &__list {
    columns: 3;
  }

  &__ingredient {
    list-style: square;
    line-height: 4rem;
    font-size: 2rem;
    font-weight: 400;

    &::marker {
      color: hsl(25, 100%, 48%);
    }
  }
}
