@use "../.././styles/_partials/breakpoints" as *;
@use "../../styles/_partials/fonts" as *;
@use "../../styles/_partials/mixins" as *;
@use "../../styles/_partials/resets" as *;
@use "../../styles/_partials/variables" as *;

.homepage {
  &__button-container {
    position: absolute;
    width: 100%;
  }

  &__button {
    color: red;
  }

  &__button-text {
    color: white;
  }
}
